<!-- header component -->
<%- include partials/header.ejs -%>
    <div class="container">
        <h1 class="heading">Home</h1>
        <div class="btn">

            <a href="/compose" class="btnAdd">Add Content</a>
        </div>
        <% console.log(posts); %>
            <!-- cara 1 -->
            <!-- <% for(var i=0; i<posts.length; i++){ %>
                <% console.log(posts[i].title); %>
                <% }; %> -->

            <!-- cara 2 -->
            <% posts.forEach(function(post){ %>
                <% console.log(post.title); %>
                    <h1>
                        <%= post.title %>
                    </h1>
                    <!-- untuk motong 100 kata -->
                    <p>
                        <%= post.content.substring(0,100) + "..." %>
                            <a href="/posts/<%=post.title%>">Read More</a>
                    </p>

                    <% }) %>

                        <!-- footer component -->
                        <%- include("partials/footer"); -%>
    </div>